* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 1rem;
}

.eventContainer {
  border-radius: 15px;
  background-color: blueviolet;
  padding: 1rem;
}

ul {
  list-style: none;
}

form {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

form div {
  margin-bottom: 1rem;
}

input,
select {
  padding: 8px;
  width: 100%;
  margin-top: 5px;
}
